@model MVC_All_Sessions.Models.Employee
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateEmployee Page</title>
</head>
<body>
    <div> 
        <form class="form-group" method="post" action="/Home/CreateEmployee">
            <label>Employee Id : @Html.TextBoxFor(e => e.Id)</label>
            <label>Employee Name : @Html.TextBoxFor(e => e.Name)</label>
            <label>Employee Location : @Html.TextBoxFor(e => e.Location)</label>
            <label>Employee Salary : @Html.TextBoxFor(e => e.Salary)</label>
            <label>Employee DepitId : @Html.TextBoxFor(e => e.Deptid)</label>
            <button>Create Employee</button>
        </form>
    </div>
</body>
</html>
