@model List<MVC_All_Sessions.Models.Employee>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>
    <title>Index meth from the home contoller....</title>
</head>
<body class="container">
    <div>
        <h2>Welcome to the Login Page ......</h2>
        <br />
        <p style="color:green">@TempData["Sucess"]</p>
        <br />
            <table class="table-hover table-responsive table-bordered">
                <thead>
                    <tr>
                        <th>Employee Id</th>
                        <th>Employee Name</th>
                        <th>Employee Location</th>
                        <th>Employee Salary</th>
                        <th>Employee Departmen ID</th>
                        <th>Action's</th>
                        <th>Action's</th>
                        <th>Action's</th>
                    </tr>
                </thead>
                <tbody>
                        @foreach(var data in Model)
                        {
                    <tr>
                        <td>@data.Id</td>
                        <td>@data.Name</td>
                        <td>@data.Location</td>
                        <td>@data.Salary</td>
                        <td>@data.Deptid</td>
                        <td> <a href="/Home/DeleteEmployee/@data.Id"> Delete </a> </td>
                        <td> <a href="/Home/UpdateEmployee"> Update</a></td>
                        <td> <a href="/Home/CreateEmployee"> Create</a></td>
                    </tr>
                        }
                </tbody>
            </table>
    </div>
    <div>
        <p class="page-item">
            <a href="/Home/CreateEmployee"> Click Here to crrate new Employee... </a>
        </p>
    </div>
</body>
</html>
